# Python set

### 1

In [1]:
set1={2,4,6}
set2={1,2,3}
z=set1.isdisjoint(set2)              #returns true if no items in set1 is present in set2
print(z)

False

In [1]:
s1={1,2,3}
s2={5,4,6}
if s1.isdisjoint(s2):
    print("Two sets have no elements in common")
else:
    print("Two sets have common elements")

Two sets have no elements in common

### 2

In [1]:
a={2,4,6,8,10}
b={3,6,9,12,15}
c=a.difference(b)            #a-b ;prsnt in a
print("The difference between a & b is: " ,c)
d=b.difference(a)            #b-a ;prsnt in b
print("The difference between b & a is: ", d)

The difference between a & b is:  {8, 2, 10, 4}
The difference between b & a is:  {9, 3, 12, 15}

### 3

In [2]:
x={4,8,12,16,20}
y={5,10,15,20,25}
z=x.symmetric_difference(y)
print("Symmetric difference is: ", z)

Symmetric difference is:  {4, 5, 8, 10, 12, 15, 16, 25}

### 4

In [21]:
list1=[1,2,3,2,4,5,1,2,6,7,3]
print(set(list(list1)))

{1, 2, 3, 4, 5, 6, 7}

### 5

In [4]:
s1={1,2,3,4,5,6,11,12,13}
s2={2,4,1,3,5,6,7,8,9,10,15}
x=s1.symmetric_difference(s2)
print("After excluding common ones, the set is : ",  x)

After excluding common ones, the set is :  {7, 8, 9, 10, 11, 12, 13, 15}

### 6

In [2]:
a={"apple","mango"}
b={"orange","apple","banana","mango"}         #all items in a is present in b
if a.issubset(b):
    print("a is a subset of b.")
else:
        print("a is not a subset of b.")

a is a subset of b.

### 7

In [20]:
set1={10,15,64,3,89,15,9,34,23,18}
print("Maximum value is: ",max(set1))
print("Minimum value is: ",min(set1))

Maximum value is:  89
Minimum value is:  3

### 8

In [13]:
set1={"apple","orange","mango"}
set1.clear()
print(set1)

set()

### 9

In [5]:
a={1,2,3,4,5}
b={1,1,3,5,4}
c={6,7,8,9,10}
d=a.union(b)
updated_set=d.union(c)
print("Updated set is: " ,updated_set)

Updated set is:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 10

In [6]:
a={21,32,43,54,65,76}
print("Sum of all elements in a is: " , sum(a))

Sum of all elements in a is:  291