# Python tuple

### 1

In [7]:
mytuple=(32,23,9,4,15,56)
print("maximum value is :",max(mytuple))
print("minimum value is :",min(mytuple))

maximum value is : 56
minimum value is : 4

### 2

In [10]:
tuple1=("hi","red","big")
tuple2=("dear","rose","tree")
concat=zip(tuple1,tuple2)
print("The tuple after concatenation is: ",tuple(concat))

The tuple after concatenation is:  (('hi', 'dear'), ('red', 'rose'), ('big', 'tree'))

### 3

In [17]:
numbers=(1,2,3,4,4,5,4,4,4)
y=list(numbers)
count=y.count(4) 
numbers=tuple(y)
print("the number of occurrences of is :",count)

the number of occurrences of is : 5

### 4

In [1]:
tup=[("Rahul",12),("Anu",10),("Sara",15)]
dictionary=dict(tup)
print(" dictionary is: ",dictionary)

 dictionary is:  {'Rahul': 12, 'Anu': 10, 'Sara': 15}

### 5

In [4]:
tup=(1,2,3,4,5,6)
x=int(input("Enter the slice size: "))
sub_tuples=[]
for i in range(0,len(tup),x):
    sub_tup=tup[i:i+x]
    sub_tuples.append(sub_tup)
    print(sub_tuples)

Enter the slice size: 2
[(1, 2)]
[(1, 2), (3, 4)]
[(1, 2), (3, 4), (5, 6)]

### 6

In [2]:
tuple1=(1,2),
tuple2=(4,8),
tuple3=(3,9),
x=tuple1+tuple2+tuple3
print("nested tuple is: ",x)
x=x[2][1]
print("accessed element is: ",x)

nested tuple is:  ((1, 2), (4, 8), (3, 9))
accessed element is:  9

### 7

In [13]:
x=("mango","apple","banana","cherry")
y=list(x)
y.remove("banana")
x=tuple(y)
print(x)

('mango', 'apple', 'cherry')

### 8

In [3]:
a=(1,2,3,2,4)
b=("a","b","c","a","d")
c=a+b
print("The merged tuple is: ",c)
d=tuple(set(c))
print("After removing duplicate elements: ",d)

The merged tuple is:  (1, 2, 3, 2, 4, 'a', 'b', 'c', 'a', 'd')
After removing duplicate elements:  (1, 2, 3, 4, 'c', 'd', 'a', 'b')

 ### 9

In [4]:
my_tuple=("melon","orange","apple","beetroot","carrot","banana")
first,second,*third,fourth=my_tuple
print(first)
print(second)
print(third)
print(fourth)

melon
orange
['apple', 'beetroot', 'carrot']
banana

### 10

In [7]:
tuple1=(2,4,6,8,6,4,2,8)
x=int(input("enter the element to find: "))
y=tuple1.index(x)
print("the index of",x,"is",y)

enter the element to find: 2
the index of 2 is 0