In [4]:
print("HELLO")
print("WORLD")

HELLO
WORLD

In [25]:
x=4
y="Chocolate"
z=False
var1=4.3
_num2= 2+5j 
print(x,y,z)

4 Chocolate False

In [22]:
num1=34
num2=5
print(num1+num2)

39

In [17]:
x="Hello"
y="World"
print(x,y)

Hello World

In [18]:
x=y=z="Hello"
print(x,y,z)

Hello Hello Hello

In [3]:
x,y,z=3,2.2,"Hi"
print(x,y,z)

3 2.2 Hi

In [9]:
#This is a single line comment
print("Hello,world") #this also a comment

Hello,world

In [11]:
"""
This  is a comment
provides documentation
class
"""
print("Hi")

Hi

In [12]:
x=4
y="Hi"
z=[2,3,4]
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'list'>

In [18]:
num_str="42"
print(type(num_str))
num_int=int(num_str) #num_int is an integer 42
print(type(num_int))

<class 'str'>
<class 'int'>

In [4]:
num_str="34"
print(type(num_str))
num_float=float(num_str)
print(type(num_float))

<class 'str'>
<class 'float'>

In [15]:
num_str="3.14"
print(type(num_str))
num_float=float(num_str)#num_float is a float 3.14
print(type(num_float))

<class 'str'>
<class 'float'>

# Python-user input

In [22]:
username=input("Enter username:")
print("Hello "+username)

Enter username:Jahana
Hello Jahana

In [17]:
my_list=[1,2,3]
print(type(my_list))
my_tuple=tuple(my_list) #my_tuple will be(1,2,3)
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

In [23]:
username=input("Enter username:")
print("Hello ",username)

Enter username:Jinu
Hello  Jinu

In [25]:
x=input("Enter the first number: ")
y=input("Enter the second number: ")
print( "The addition result is: " ,x+y )

Enter the first number: 34
Enter the second number: 23
The addition result is:  3423

In [26]:
x=int(input("Enter the first number: "))
y=int(input("Enter the second number: "))
print("The addition result is: ",x+y)

Enter the first number: 34
Enter the second number: 23
The addition result is:  57

In [10]:
a=""" My name is Anu,
      age is 34,
      higowrgjwpifogkejorkgrrj,
      jgiojrngioejfo2gngiqwo,
      jviowfoewgkdhiwjfjdgjekjhgekf.
    """
print(a)

 My name is Anu,
      age is 34,
      higowrgjwpifogkejorkgrrj,
      jgiojrngioejfo2gngiqwo,
      jviowfoewgkdhiwjfjdgjekjhgekf.

# strings

In [30]:
my_string="Hello ,world "
length=len(my_string)
print(length)

13

##  String indexing

In [32]:
my_string="Hello"
first_char=my_string[1]
print(first_char)

e

In [34]:
#inclusive start,exclusive end
my_string='Hello world '
sliced_string=my_string[2:12]
print(sliced_string)

llo world

In [37]:
#nagative indices
my_string="Hello world!"
last_char=my_string[-1]
second_last_char=my_string[-3]
print(last_char, second_last_char)

! l

In [39]:
#omitted indices
my_string="Hello world "
start_omitted=my_string[:2]
end_omitted=my_string[9:]
print(start_omitted,end_omitted)

He ld

In [40]:
#stepsize
my_string="Hello world! "
every_second_char=my_string[0:5:2]
print(every_second_char)

Hlo

In [42]:
#reversing a string
my_string="Jahana !"
reversed_string=my_string[::-1]
print(reversed_string)

! anahaJ

## string concatenation

In [11]:
#concatention
a="Hello"
b="world"
c=a+b
print(c)

Helloworld

In [44]:
c=a+" "+b
print(c)

Hello world

In [45]:
c=a+" "+b+("!" * 10)
print(c)

Hello world!!!!!!!!!!

In [46]:
#lower to upper
s1="hello"
print(s1.upper())

HELLO

In [47]:
#upper to lower
s1="HELLO"
print(s1.lower())

hello

In [49]:
#remove first and last whitespaces
s2="  Hello ,world   "
print(s2.strip())

Hello ,world

In [50]:
alpha_check="Hello".isalpha()#return true if alphabets
print(alpha_check)
digit_check="123".isdigit()#return true if numbers
print(digit_check)
alnum_check="Hello123".isalnum()#return true if alph and numbers
print(alnum_check)

True
True
True

In [51]:
my_string="Apple,Orange,Grape"
fruits=my_string.split(",")
print(fruits)
joined_string="-".join(fruits)
print(joined_string)

['Apple', 'Orange', 'Grape']
Apple-Orange-Grape

In [52]:
#replace
my_string="Hello ,world"
new_string=my_string.replace("Hello", "Hi")
print(new_string)

Hi ,world

## Formatting

In [54]:
#string formating
name="Jahana"
age=22
formatted_string="My name is %s and I am %d years old." %(name,age)
print(formatted_string)

My name is Jahana and I am 22 years old.

In [60]:
name="Jinu"
age=10
formatted_string=f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is Jinu and I am 10 years old.

In [61]:
name="Jahana"
age="22"
formatted_string="My name is {} and Iam {} years old.".format(name,age)
print(formatted_string)

My name is Jahana and Iam 22 years old.

In [62]:
pi=3.141567
formatted_pi="The value of pi is approximately:{:0.2f}".format(pi)
print(formatted_pi)

The value of pi is approximately:3.14

In [1]:
#arithmetic operators
x=10
y=5
addition=x+y
substraction=x-y
multipilication=x*y
division=x/y #result is always a float
modulus=x%y#returns the remainder
exponentiation=x**y   #raisto
floor_division=x//y   #alwys a whole no.
print("addition: ",addition)
print("substraction: ",substraction)
print("dvision: ",division)
print("modulus: ",modulus)
print("exponentiation: ",exponentiation)
print("floor_division: ",floor_division)

addition:  15
substraction:  5
dvision:  2.0
modulus:  0
exponentiation:  100000
floor_division:  2

In [2]:
x=["apple","banana"]
y=["apple","banana"]
z=x
print(x is z)    #z is same as x
print(x is y)    #x is not the same object as y
print(x==y)      #the values of x and y are equal
print(x is not z)
print(x is not y)
print(x!=y)       #the values of x,y equal

True
False
True
False
True
False

## membership operators

In [3]:
#memborship oprtrs
x=["apple","banana"]
print("banana" in x)

True

In [4]:
x=["apple","banana"]
print("orange" not in x)

True

# Python lists

In [7]:
#python lists
numbers=[1,2,3,4,5,6,7,8,9,10]
first_element=numbers[0]
second_element=numbers[1]
last_element=numbers[-1]
print(first_element)
print(second_element)
print(last_element)

1
2
10

In [37]:
print(numbers[2:5])

[3, 4, 5]

In [42]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(len(numbers))

10

### Appending

In [1]:
#append adds on last
fruits=["apple","banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry']

### Insert

In [9]:
#insert adds on a specific index
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [10]:
#extending
fruits=["apple","banana"]
more_fruits=["orange","cherry"]
fruits.extend(more_fruits)
print(fruits)

['apple', 'banana', 'orange', 'cherry']

In [11]:
#chnage  item value
fruits=["apple","banana","cherry","banana"]
fruits[1]="melon"
print(fruits)

['apple', 'melon', 'cherry', 'banana']

In [12]:
fruits[1:3]=["papapya","kiwi"]
print(fruits)

['apple', 'papapya', 'kiwi', 'banana']

In [14]:
#rmvng elmnts
fruits=["apple","banana","cherry","banana"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana']

In [15]:
fruits=["apple","banana","cherry"]
removed_fruit=fruits.pop()         #can add index in pop()  #otherwise last rmvd
print(fruits)

['apple', 'banana']

In [16]:
fruits=["apple","banana"]
fruits.clear()
print(fruits)

[]

### deleting

In [36]:
my_list=["apple","banana","mango"]
del my_list[0]
print(my_list)

['banana', 'mango']

In [17]:
#reversing
numbers=[1,2,3,4]
numbers.reverse()
print(numbers)

[4, 3, 2, 1]

In [18]:
numbers=[3,5,2,7]
numbers.sort()
print(numbers)     #ascndng

[2, 3, 5, 7]

In [19]:
numbers=[3,2,7,5,1]
numbers.sort(reverse=True)    #descndng
print(numbers)

[7, 5, 3, 2, 1]

### nested list

In [20]:
nested_list=[[1,2,3],[4,5,6]]
print(nested_list)

[[1, 2, 3], [4, 5, 6]]

### counting

In [22]:
numbers=[1,2,3,2,4,2,5]     #no.of times a specified value occurs
count=numbers.count(2)
print(count)

3

## Maximum minimum sum

In [23]:
#max min sum
numbers=[1,2,3,4,5]
print(max(numbers))
print(min(numbers))
print(sum(numbers))

5
1
15

In [1]:
#replacing first last nmbrs
numbers=[1,2,3,4,5]
n=len(numbers)
temp=numbers[0]
numbers[0]=numbers[n-1]
numbers[n-1]=temp
print(numbers)

[5, 2, 3, 4, 1]

# Tuples

## Update tuples

In [1]:

x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [2]:
#add items
mytuple=("apple","banana","cherry")
y=list(mytuple)
y.append("orange")
mytuple=tuple(y)
print(mytuple)

('apple', 'banana', 'cherry', 'orange')

In [4]:
mytuple=("apple","banana","orange")
y=("cherry",)
mytuple +=y
print(mytuple)

('apple', 'banana', 'orange', 'cherry')

## Unpacking a tuple

In [5]:
#unpacking a tuple
fruits=("apple","cherry")
x,y=fruits
print(x)
print(y)

apple
cherry

In [6]:
fruits=("apple","mango","cherry","banana","melon","kiwi")
x,*y,z=fruits
print(x)
print(y)
print(z)

apple
['mango', 'cherry', 'banana', 'melon']
kiwi

In [7]:
fruits=("apple","mango","cherry","banana","melon","kiwi")
x,y,*z,p=fruits
print(x)
print(y)
print(z)
print(p)

apple
mango
['cherry', 'banana', 'melon']
kiwi

# Sets

In [14]:
numbers={1,2,3}
fruits={"apple","banana"}
mixed={1,1.2,"apple","True"}
print(numbers)
print(fruits)
print(mixed)

{1, 2, 3}
{'apple', 'banana'}
{'apple', 1, 'True', 1.2}

## Unique elements

In [8]:

numbers={1,2,3,2,1}   #output{1,2,3}
print(numbers)

{1, 2, 3}

### Adding

In [9]:
#add items
set1={"apple","banana","orange"}
set1.add("cherry")
print(set1)

{'apple', 'cherry', 'banana', 'orange'}

### Update

In [10]:
set1={"apple","banana","orange"}
set2={"mango","kiwi","papaya"}
set1.update(set2)
print(set1)

{'papaya', 'orange', 'mango', 'apple', 'banana', 'kiwi'}

### Removing

In [15]:
myset={"apple","banana","orange"}
myset.remove("banana")
print(myset)

{'apple', 'orange'}

In [16]:
myset={"apple","banana","orange"}
myset.discard("apple")
print(myset)

{'banana', 'orange'}

In [17]:
myset={"apple","banana","orange"}
x=myset.pop()
print(x)
print(myset)

apple
{'banana', 'orange'}

In [18]:
myset={"apple","banana","orange"}
myset.clear()
print(myset)

set()

## Set operations

In [19]:
#oprtns
set1={1,2,3}
set2={3,4,5}                  #unique in both
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [20]:
set1={1,2,3}
set2={3,4,5}
intersection_set=set1.intersection(set2)  #common element
print(intersection_set)

{3}

In [21]:
set1={1,2,3}
set2={3,4,5}
difference_set=set1.difference(set2)     prsnt in set1 not in 2
print(difference_set)

{1, 2}

In [23]:
set1={1,2,3}
set2={3,4,5}
symmetric_difference_set=set1.symmetric_difference(set2)
print(symmetric_difference_set)          #not common

{1, 2, 4, 5}