# Python loops

# If conditions

In [28]:
a=208
b=202
if (b>a):
    
    print("b is greater than a")
print("condition checked")

condition checked

In [4]:
a=208
b=209

if (b>a or b==a):
    print("b is greater than a")
    print("condition checked")

b is greater than a
condition checked

In [2]:
a=200
b=300
if (b>a):
    print( "b is greater than a")
else:
        print("a is greater than b")

b is greater than a

In [2]:
x=4
y="hello"
typ=type(x)
if type==int:
    print("number")
else:
        print("string")

string

In [4]:
a=int(input("first number: "))
b=int(input("second number: "))
if b>a:
    print("b is greater than a")
elif a>b:
    print("a is greater than b")
else:
    print("a and  b are equal")

first number: 8
second number: 2
a is greater than b

### Shorthand

In [5]:

a=23
b=13
if a>b: print("a is greater than b")

a is greater than b

In [6]:
a=200
b=300
print("a") if a>b else print("b")

b

### Nested if

In [13]:

x=40
if x>10:
    print("above 10, ")
    if  x>20:
        print(" and also above 20")
    else:
        print("but not above 20")
else:
    print("finished")

above 10,
 and also above 20

### Pass statement

In [25]:

a=33
b=200
print("stage1")
if b>a:
    pass
print("stage2")
print(b+2)
print("stage3")

stage1
stage2
202
stage3

In [17]:
a=int(input("Enter a number:"))
if a>=0:
    print("it is a positive number")
else:
        print("it is a negative number")

Enter a number:-3
it is a negative number

In [2]:
x=input("enter age of 1st person: ")
y=input("enter age of 2nd person:")
z=input("enter age of 3rd person:")
if (x>y and x>z):
    print("x is elder. ")
elif x<y and x<z:
        print("x is youngest.")
else:
            print("x is younger.")
if y>x and y>z:
    print("y is elder. ")
elif y<x and y<z:
        print("y is youngest.")
else:
    print("y is younger. ")
if (z>x and z>y):
     print("z is elder. ")
elif z<x and z<y:
    print("z is youngest. ")
else:
        print("z is younger. ")

enter age of 1st person: 29
enter age of 2nd person:22
enter age of 3rd person:2
x is elder.
y is younger.
z is youngest.

In [28]:
x=input("enter an alaphabet: ")
if (x=="a" or x=="e" or x=="i" or x=="o" or x=="u" or x=="A" or x=="E" or x=="I" or x=="O" or x=="U"):
    print("it is a vowel")
else:
    print(" It is a consonant")

enter an alaphabet: i
it is a vowel

## While loop

In [5]:

i=1       #initialize
n=5           #while loop frm 1 to 5
while i<=n:
    print(i)                          #(while condtn:)
    i=i+1
    
print("Finished")

1
2
3
4
5
Finished

In [7]:
i=1
n=100
total=0
while i<=n:
    total=total+i
    i=i+1                    #add all nmbrs up to 100
print("Total",total)

Total 5050

In [10]:
#reverse
num=int(input("Enter a number: "))
rev=0
while (num!=0):
    rem=num % 10
    rev=rev*10  + rem
    num=num // 10
print("The reversed number is: ",rev)

Enter a number: 856
The reversed number is:  658

In [1]:
i=10
n=1
while i>=n:
    print(i)
    i=i-1
print("Finished")

10
9
8
7
6
5
4
3
2
1
Finished

### Looping through list

In [1]:
#lpng through list
my_list=[1,2,3,4,5]
i=0
while i<len(my_list):
    print(my_list[i])
    i=i+1

1
2
3
4
5

In [3]:
mylist=[1,2,3,4,5]
i=0
list2=[]
while i<len(mylist):
    x=mylist[i]*mylist[i]
    list2.append(x)
    i=i+1
print(list2)

[1, 4, 9, 16, 25]

In [4]:
#pgm to calculate sum of nmbrs until user enters zero
total=0
number=int(input("Enter a number: "))    #add nmbrs until zero
while number!=0:
    total+=number
    number=int(input("Enter a number: "))   #take intger input again
print("Total = ",total)

Enter a number: 23
Enter a number: 22
Enter a number: 29
Enter a number: 18
Enter a number: 0
Total =  92

### Factorial program

In [7]:
#factrl pgm
number=int(input("Enter a number: "))
fac=1
i=1
while i<=number:
    fac=fac * i
    i=i+1
print("Factorial of", number, "is", fac)

Enter a number: 5
Factorial of 5 is 120

### Break

In [1]:
#break
i=1                   #we can stop the loop even if the while condition is true
while i<6:
    print(i)
    if i==4:
        print(i*i)
        break
    i+=1

1
2
3
4
16

### Continue

In [6]:
i=0
while i<6:
    i+=1                     #we can stop the current iteration and continue with the next
    if i==3:
        continue
    print(i)

1
2
4
5
6

## for loops

In [1]:
#for loops
for x in "banana":
    print(x)

b
a
n
a
n
a

In [5]:
fruits=["apple","banana","cherry"]
for x in fruits:
    if x=="banana":
        break
    print(x)

apple

In [6]:
fruits=["apple","banana","cherry"]
for x in fruits:
    if x=="banana":
        continue
    print(x)

apple
cherry

### Range

In [7]:
#range
for x in range(10):              #strt from 0 and incrmnt by 1 by dflt
    print(x)

0
1
2
3
4
5
6
7
8
9

In [8]:
for x in range(2,10):
    print(x)

2
3
4
5
6
7
8
9

In [9]:
for x in range(2,20,2):
    print(x)                         #the last 2 is step size

2
4
6
8
10
12
14
16
18

### Nested loops

In [11]:
#nested loop
colors=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in colors:
    for y in fruits:
        print(x,y)
    print('------------------')

red apple
red banana
red cherry
------------------
big apple
big banana
big cherry
------------------
tasty apple
tasty banana
tasty cherry
------------------

In [13]:
#find sum of sqrs in a list                     
numbers=[2,4,6,8,10]
sum_=0                                              
for num in numbers:
    sqr=num**2
    sum_=sum_+sqr
print("The sum of squares is : ",sum_)

The sum of squares is :  220

In [17]:
#prime                                                  
for num in range(10,20):                       #itrte b/w 10 &20
    for i in range(2,num):                     #itrte fctrs of the number
        if num%i==0:                           #dtrmine frst factor
            j=num/i                            #clclte 2nd fctr
            break                              
    else:
            print(num,"Is a prime number")

11 Is a prime number
13 Is a prime number
17 Is a prime number
19 Is a prime number

In [18]:
n=5
for i in range(1,11):           #mltplctn tbl
    product=n*i
    print("%d x %d=%d"%(n,i,product))

5 x 1=5
5 x 2=10
5 x 3=15
5 x 4=20
5 x 5=25
5 x 6=30
5 x 7=35
5 x 8=40
5 x 9=45
5 x 10=50

In [22]:
#pattern decide row count                           #star:1
row=5                                               #stop:row+1
for i in range(1,row+1):                            #run loop 5 times
    for j in range(1,i+1):                          #run inner loop i+1 times
        print(j,end=' ')                            #empty line after each row
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [24]:
n=5
k=5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print( )

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [25]:
n=5
k=5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(i,end=' ')
    print()

0 0 0 0 0
1 1 1 1
2 2 2
3 3
4

In [33]:
rows=5                                      #single carriage return character,
for i in range(0,rows):                     #will move to the cursor back to the beginning of the current line without advancing 
    for j in range(0,i+1):                   #to the nxt line
        print('*',end=' ')
    print(" ")
for i in range(rows,0,-1):
            for j in range(0,i-1):
                print('*',end=' ')
            print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### List comprehension

In [54]:
#list comprehension
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[]
for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [53]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist1=[x for x in fruits if "a" in x]
print(newlist1)

['apple', 'banana', 'mango']

#### syntax=[expression for item in iterable condition==True]

In [52]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist2=[x for x in fruits if x!="apple"]
print(newlist2)

['banana', 'cherry', 'kiwi', 'mango']

In [50]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist3=[x for x in fruits]
print(newlist3)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [42]:
newlist4=[x*x for x in range(10)]
print(newlist4)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist5=[x.upper() for x in fruits]
print(newlist5)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

### Using enumerate

#### printing the index nmbr along with the value present in that index

In [56]:
#enumerate
for key,value in enumerate(['The','big','bang','theory']):
    print(key,value)

0 The
1 big
2 bang
3 theory

In [57]:
grocery=['bread','milk','butter']
enumerategrocery=enumerate(grocery)
print(type(enumerategrocery))
print(list(enumerategrocery))                     #cnvrt to list
enumerategrocery=enumerate(grocery,10)          #change dflt counter
print(list(enumerategrocery))

<class 'enumerate'>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

### zip():

#### combine two similar containers

In [58]:
#zip
questions=['name','colour','shape']
answers=['apple','red','a circle']
for questions,answers in zip(questions,answers):
    print('what is your {0}? i am {1}.'.format(questions,answers))

what is your name? i am apple.
what is your colour? i am red.
what is your shape? i am a circle.

### Sorted

In [60]:

list1=[1,3,5,6,2,1,3]
print("The list in sorted order is: ")
for i in sorted(list1):
    print(i,end=" ")
print("\r")
print("The list in sorted order (without duplicates) is: ")
for i in sorted(set(list1)):
    print(i,end=' ')

The list in sorted order is:
1 1 2 3 3 5 6
The list in sorted order (without duplicates) is:
1 2 3 5 6

### Reversed

In [61]:
#reverse
list1=[1,3,5,6,2,1,3]
print("the list in reversed order is: ")
for i in reversed(list1):
    print(i,end=' ')

the list in reversed order is:
3 1 2 6 5 3 1

## Dictionaries

In [1]:
#dictionaries                            #key:value
person={
    "name":"john",
    "age":  "38",
    "city":"new york"    
}
print(person)

{'name': 'john', 'age': '38', 'city': 'new york'}

In [3]:
d={
    "brand":"ford",
    "model":"mustang",
    "year":[1964,2034]
}
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': [1964, 2034]}

In [1]:
#duplicates not allowed
d={
    "brand":"ford",
    "model":"mustang",
    "year":1964,
    "year":2020
}
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [4]:
person={
    "name":"john",
    "age":  "38",
    "city":"new york"    
}
x=person["city"]
print(x)

new york

In [5]:
person={
    "name":"john",
    "age":  "38",
    "city":"new york"    
}
y=person.get("name")
print(y)

john

In [7]:
#keys,values,items
person={
    "name":"john",
    "age":  "38",
    "city":"new york"    
}
x=person.keys()
print(x)
y=person.values()
print(y)
z=person.items()
print(z)

dict_keys(['name', 'age', 'city'])
dict_values(['john', '38', 'new york'])
dict_items([('name', 'john'), ('age', '38'), ('city', 'new york')])

In [8]:
#update
d={
    "brand":"ford",
    "model":"mustang",
    "year":[1964,2034]
}
d.update({"year":2020})
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [11]:
#adding
d={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
d["color"]="red"
print(d)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'red'}

In [12]:
#removing

d={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
d.pop("model")
print(d)

{'brand': 'ford', 'year': 1964}

In [13]:
d={
    "brand":"ford",
    "model":"mustang",
    "year":1964                  #last  rmvl
}
d.popitem()
print(d)

{'brand': 'ford', 'model': 'mustang'}

In [14]:
#clear
d={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
d.clear()
print(d)

{}

In [3]:
#delete
d={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
del d["brand"]
print(d)

{'model': 'mustang', 'year': 1964}

In [4]:
#delete completely this will cause an error but the dct no longer exists
d={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
del d
print(d)

NameError: name 'd' is not defined

### loop dictionaries

In [17]:
xdict={
    "brand":"ford",
    "model":"mustang",                 #prnt keys
    "year":1964
}
for i in xdict:
    print(i)

brand
model
year

In [18]:
xdict={
    "brand":"ford",                        #values
    "model":"mustang",
    "year":1964
}
for i in xdict:
    print(xdict[i])

ford
mustang
1964

In [22]:
#sorted
prices={'bread':'3.2','butter':'2.4','banana':'1.5'}
for k in sorted(prices.keys()):
    print(k ,'->',prices[k])

banana -> 1.5
bread -> 3.2
butter -> 2.4

In [5]:
#copy
mydict={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
dct=mydict.copy()
print(dct)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [6]:
#copy
mydict={
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
dict1=dict(mydict)
print(dict1)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [7]:
#nested
myfamily={
    "child1":{
        "name":"Emil",
        "age":"18"
    },
    "child2":{
        "name":"shalu",
        "age":"12"
   }
}
print(myfamily)

{'child1': {'name': 'Emil', 'age': '18'}, 'child2': {'name': 'shalu', 'age': '12'}}

In [2]:
dict1={'chocolate':'10','ice cream':'8','apple':'12'}
dict2={'pen':'7','pencil':'14','ball':'21'}
newdict=dict(zip(dict1,dict2.values()))
print(newdict)

{'chocolate': '7', 'ice cream': '14', 'apple': '21'}

## files

In [1]:

import os
cwd=os.getcwd()      #current working directory
print(cwd)

C:\Users\DELL\Python\Basics

In [2]:
os.chdir('c:\\users')     #change dir
print(os.getcwd())

c:\users

In [4]:
os.chdir(cwd)       #change wrkng dir back to orgnl
print(os.getcwd())

C:\Users\DELL

In [5]:
print(os.getcwd()) #prnt current wrknng dir

C:\Users\DELL

### file paths
 #### a path that specifies all folders starting from the root is an absolute path
 #### a path that is specified relative to the current working directory is a relative path

### absolute path of the file: for example,c:\modules\tee3201\exercises\ex1.txt
### relative path of the file: for example,exercises\ex1.txt
####  to go to previous directory,
####  exercises\ex1.txt
####  .\exercises\ex1.txt
####  ..\tee3201\exercises\ex1.txt
####  ..\ ..\modules\tee3201\exercises\ex1.txt

### os.makedirs(): function to create folders
### os.removedirs(): function to delete folders

In [13]:
os.makedirs('ex\\j1')     #create dirctry

In [7]:
os.chdir('ex\\j1')    #change current wrkng dir

In [8]:
print(os.getcwd())     #print new wrkng dir

C:\Users\DELL\ex\j1

In [9]:
os.chdir('..')           #go to parrent dir
print(os.getcwd())

C:\Users\DELL\ex

In [10]:
os.chdir('..')
print(os.getcwd())

C:\Users\DELL

In [14]:
os.removedirs('ex\\j1')           #rmv dir

In [16]:
os.chdir('ex\\j1')

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'ex\\j1'

### os.path
#### os.path.join() function can used to generate file path that matches the curent operating system

In [1]:
#os.path
import os
cwd=os.getcwd()
print(cwd)

C:\Users\DELL

In [2]:
path=os.path.join(cwd,'ex','j1')
print(path)

C:\Users\DELL\ex\j1

#### listing directories

In [32]:
#listing directiries
files=os.listdir(cwd)
for x in files:
    print(x)

All Users
Default
Default User
DELL
desktop.ini
Public

#### check for a specific file

In [33]:
#check for a specific file
file='desktop.ini'
if os.path.exists(file):
    print("file exists")
else:
    print("file does not exists")

file exists

#### checking file or directory

In [34]:
#chckng file or dir
path='desktop.ini'
if os.path.isfile(path):
    print("it is a file")
elif os.path.isdir(path):
        print("it is a directory")
else:
        print("neither file nor directory ")

it is a file

In [ ]:
os.chdir('DELL')

### creating files

In [1]:
#creating files
file_name="sample1.txt"                #w write                #read  r
f=open(file_name,'w')
f.write("this is the first line")
f.close()

In [60]:
with open("sample2.txt",'a') as fh:
    fh.write("hello")                       #a append

In [ ]:
os.chdir('DELL')

### reading files
#### there are 3 steps to reading file in python
####     call the open() function to receive a file object
####     call the read() method on the file objectb to receive file content
####     close the file by calling the close() method on the file object

In [53]:
file_path=os.path.join("sample2.txt")
f=open(file_path,'r')       #open in read mode
items=f.read()
print(items)
f.close()

hello

In [54]:
file_path=os.path.join("sample2.txt")
f=open(file_path,"r")
items=f.readlines()
print(items)
f.close()

['hello']

In [55]:
file_path=os.path.join("sample2.txt")
f=open(file_path,'r')
items=f.readlines()
for i in items:
    print(i.strip())
f.close()

hello